<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=typeof title == 'undefined' ? 'Thug Gem' : title%></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        /*footer {
            position: fixed;
            height: 100px;
            bottom: 0;
            width: 100%;
        }*/
    </style>
  </head>

  <body>

    <%- partial('./navbar.ejs') %>
    <!-- Navigation -->
    

    <div class="container" style="min-height: 85vh;">
    <%- body %>
    </div>
    <!-- /.container -->


    <%- partial('./footer.ejs') %>
    <!-- Footer -->
    

    

  </body>

</html>
