<% if (message && message.length) {%>
<div class="alert alert-danger">
  <p><%= message %></p>
</div>
<% } %>
<form class="form-horizontal" method="post" action="/users/login">
  <fieldset>
    <!-- Form Name -->
    <legend>Login</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Email</label>
      <div class="col-md-12">
        <input id="textinput" name="email" type="email" class="form-control input-md" required="">
        
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Password</label>
      <div class="col-md-12">
        <input id="textinput" name="password" type="password" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" class="btn btn-success">Login</button>
      </div>
    </div>
  </fieldset>
</form>