<form class="form-horizontal" method="post" action="/users/register">
  <fieldset>
    <!-- Form Name -->
    <legend>Register</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">username</label>
      <div class="col-md-12">
        <input id="textinput" name="username" type="text" class="form-control input-md" required="">
        
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Email</label>
      <div class="col-md-12">
        <input id="textinput" name="email" type="email" class="form-control input-md" required="">
        
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Password</label>
      <div class="col-md-12">
        <input id="textinput" name="password" type="password" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>