<p>Gems or dependecies created will not show in the gems list untill it's verified by an admin</p>
<form class="form-horizontal" action="/gems/store" method="post">
  <fieldset>
    <!-- Form Name -->
    <legend>Create Gem</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Gem Name</label>
      <div class="col-md-12">
        <input id="textinput" name="name" type="text" placeholder="gem name ... (e.g. nokogiri)" class="form-control input-md" required>
        
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Url</label>
      <div class="col-md-12">
        <input id="textinput" name="textinput" type="text" placeholder="gem url (e.g. https://rubygems.org/gems/nokogiri/versions/1.6.8)" class="form-control input-md" required>
        
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <div class="dep-template" style="display: none;">
        <div class="row">
          <div class="col-md-6">
            <input id="textinput" type="text" placeholder="a system dependency for the gem (e.g. tesseract-ocr) " class="form-control input-md dependency-name">
          </div>
          <div class="col-md-6">
            <select class="form-control platform-select">
              <option class="1" value="1">Debian</option>
              <option class="2" value="2">CentOs</option>
              <option class="3" value="3">Ubuntu</option>
            </select>
          </div>
        </div>
      </div>
      <label class="col-md-4 control-label" for="textinput">System Dependency</label>
      <div class="dependency-container">
        <div class="row">
          <div class="col-md-6">
            <input id="textinput" name="dependencies[0][name]" type="text" placeholder="a system dependency for the gem (e.g. tesseract-ocr) " class="form-control input-md" required="">
          </div>
          <div class="col-md-6">
            <select class="form-control" name="dependencies[0][platform]">
              <option class="1" value="1">Debian</option>
              <option class="2" value="2">CentOs</option>
              <option class="3" value="3">Ubuntu</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button onclick="newDep()" type="button" id="singlebutton" name="singlebutton" class="btn btn-primary">Add more</button>
      </div>
    </div>
    <!-- Text input-->
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>

<script type="text/javascript">
  
var depCount = 0;
function newDep() {
  depCount++;
  var temp = $(".dep-template").clone();
  temp.find(".platform-select").attr("name", "dependencies["+depCount+"][platform]").attr("required", true);
  temp.find(".dependency-name").attr("name", "dependencies["+depCount+"][name]").attr("required", true);
  console.log(temp.html());
  $(".dependency-container").append(temp.html());
}

</script>