<% if (message && message.length) {%>
<div class="alert alert-success">
	<p><%= message %></p>
</div>
<% } %>
<h2 class="my-4">List of Gems with system dependencies</h2>
<p>a dependant gem not listed here? <a href="/gems/create">create the gem</a> or submit a <a href="https://github.com/sherifalaa55/thug" target="_blank"">pull request</a></p>
<div class="panel">
	<div class="panel-body">
		<div class="row" style="min-height: 100vh;">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Url</th>
					</tr>		
				</thead>
				<tbody>
					<% for (var i = 0; i < gems.length; i++) { %>
					<tr>
						<td><%= i + 1 %></td>
						<td><a href="/gems/view/<%= gems[i].id %>"><%= gems[i].name %></a></td>
						<td><a href="<%= gems[i].url %>" target="_blank"><%= gems[i].url %></a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div class="row">
			
		</div>
	</div>
</div>