<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4"><%= gem.name %></h1>

    <!-- Author -->
    <p class="lead">
      by
      <a href="#" id="author"></a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p><%= gem.createdAt ? gem.createdAt : "" %></p>

    <hr>

    <!-- Post Content -->
    <p class="lead" id="gem_info"></p>

    <p>Homepage: <a target="_blank" id="gem_homepage"></a></p>

    <h3>System level dependencies</h3>
    <% for (var i = 0; i < gem.platforms.length; i++) { %>
    <% if (gem.platforms[i] && gem.platforms[i].length) { %>
    <p>
      <b>
      <% if (i == 1) {%>
      Debian
      <% }else if (i == 2){ %>
      CentOs
      <% }else if (i == 3){ %>
      Ubuntu
      <% }else if (i == 4){ %>
      Mac
      <% } %>
      </b>
    </p>
    <ul>
      <% for (var j = 0; j < gem.platforms[i].length; j++) { %>
      <li><%= gem.platforms[i][j].name %></li>
      <% } %>
    </ul>
    <% } %>
    <% } %>

    <p>License: <span id="gem_license"></span></p>


    <hr>

  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">


    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Gem Info</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled mb-0">
              <li>
                Version: <span id="gem_version"></span>
              </li>
              <li>
                Downloads: <span id="gem_downloads"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-4">
      <h5 class="card-header">Gem Dependencies</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row" id="gem_dependencies">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
var gemName = "<%= gem.name %>";
$(document).ready(function () {
  // load gem info
  $.ajax({
    method: "GET",
    url: "https://rubygems.org/api/v1/gems/"+gemName+".json",
    success: function (response) {
      console.log(response);
      // info
      $("#gem_info").text(response.info);
      // runtime dependencies
      var runtimeDeps = response.dependencies.runtime;

      for (var i = runtimeDeps.length - 1; i >= 0; i--) {
        runtimeDeps[i]
        html = '<div class="col-md-6"><a target="_blank" href="https://rubygems.org/gems/'+runtimeDeps[i].name+'">'+runtimeDeps[i].name+'</a></div>'
        $("#gem_dependencies").append(html);
      }

      // author
      $("#author").text(response.authors);
      // license
      $("#gem_license").text(response.licenses.join(", "));
      // downloads
      $("#gem_downloads").text(response.downloads);
      // version
      $("#gem_version").text(response.version);
      // homepage
      $("#gem_homepage").text(response.homepage_uri);
      $("#gem_homepage").attr("href", response.homepage_uri);
    }
  })
})
</script>